body {
  height: 95vh;
  width: 95vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  background: white;
  font-size: 13px;
  font-weight: bold;
  height: 40px;
  width: 142px;
  padding: 5px;
  display: flex;
  align-items: center;
  margin-top: 5px;
  border-radius: 5px;
}

button:hover{
  background-color: lightgreen;
  color: white;
}
